
body { 
    margin: 0;
    overflow-x: hidden; 
    overflow-y: hidden; 
}
canvas { display: block; }
.overlay {
    position: absolute;
    z-index: 100;
}
#textOverlay {
    /* Align everything to center */
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    overflow-wrap: anywhere;

    /* Display at top of screen */
    top: 0px;
    width: calc(100% - 20px);
    margin: 10px;
    border: 1px solid white;

    /* white text on black background, by default */
    color: white;
    background: black;
}
#textOverlayContents { 
    /* Align everything to center */
    text-align: center;
    display: block;
    width: 100%;
    align-items: center;
    justify-content: center;
    overflow-wrap: anywhere;
    
    color: white;
}
.dialogueButton {
    width: 100%;
    display: block;
}
#info {
    position: absolute;
    top: 0px;
    width: 100%;
    text-align: center;
    z-index: 100;
    display:block;
    background: black;
    color: white;
}